spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/petshop
    username: root
    password: root
#    password: Theanh@123

  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: smtp.gmail.com
    port: 587
    username: theanh199405023@gmail.com
    password: lbwcahcnaealcyzb
#    username: duchaunguyen131@gmail.com
#    password: doxdulfffjnccpoy

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
#  packages-to-scan:
#    - com.pet.controller

